{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="index-header">Oh haaay, {{ current_user.username }}! Welcome to culturebot!</div>
        <div class="index-post">
            <form>
                <input type="button" class="add-queer-fact-button" value="🌈 Add a shareworthy fact ✒️" onclick="window.location.href='{{ url_for('.post_fact') }}'" />
            </form>
        </div>
        <div><img src="{{ image_url }}" width="100%" /></div><br>
    </div>
</div>
{% endblock %}