### Python ###

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# local configs and assets
_assets/
_config/

# virtualenv
.venv/
venv/
ENV/

# pycharm
.idea/

# working files
_assets/