{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div>
        <table>
            {% for fact in facts %}
            <tr>
                <td width="80%">{{ fact.title }}</td>
                <td>{{ fact.shown }}</td>
                <td><a href="./fact/{{ fact.id }}">Preview</a></td>
                <td><a href="">Edit</a></td>
                <td><a href="./fact/delete/{{ fact.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}