{% extends "base.html" %}

{% block content %}

<form>
<input type="button" value="Edit" onclick="window.location.href='./edit/{{ fact.id }}'" />
</form>

<div class="wrapper">

	<div class="middle">

		<div class="container">
			<main class="content">
				<div>{{ fact.header }}</div>
                <div><strong><h2><a href="{{ fact.title_url }}">{{ fact.title }}</a></h2></strong></div>
                <div>{{ fact.body }}</div>
                {% for additional_fact in fact.additional_facts %}
                <div><strong>{{ additional_fact.title }}</strong></div>
                <div>{{ additional_fact.text }}</div>
                {% endfor %}
                <div><img src="{{ fact.image_url }}" width="260px" /></div>
                {% for tag in fact.tag_buttons %}
                <div><strong><a href="{{ tag.url }}">{{ tag.title }}</a></div>
                {% endfor %}
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="left-sidebar">
			&nbsp;
        </aside><!-- .left-sidebar -->

	</div><!-- .middle-->
</div><!-- .wrapper -->

{% endblock %}