{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <h1>{{ title }}</h1>
        <div>
            <table>
                {% for fact in facts %}
                <tr>
                    <td width="60%" class="text-bold">{{ fact.title }}</td>
                    <td>{{ fact.shown }}</td>
                    <td>
                        <button><a href="../slackbot/sendfact/{{ fact.id }}" class="tag-button">Test</a></button>
                        <button><a href="./fact/edit/{{ fact.id }}" class="tag-button">Edit</a></button>
                        <button><a href="./fact/delete/{{ fact.id }}" class="tag-button">Delete</a></button>
                        <button><a href="./fact/reset/{{ fact.id }}" class="tag-button">Reset</a></button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}